/*全局样式*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block
}

audio, canvas, video {
    display: inline-block
}

audio:not([controls]) {
    display: none
}

[hidden] {
    display: none
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0
}

body, button, input, select, textarea {
    font-family: sans-serif;
    color: #222
}

::-moz-selection {
    background: #ccc;
    color: #fff;
    text-shadow: none
}

::selection {
    background: #ccc;
    color: #fff;
    text-shadow: none
}

a {
    text-decoration: none;
    outline: 0
}

a:focus {
    outline: 0
}

a:active, a:hover {
    outline: 0
}

p {
    margin: 0 0 1em 0
}

p:last-of-type {
    margin: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: 700
}

blockquote {
    margin: 1em 40px
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

ins {
    background: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: 700
}

code, kbd, pre, samp {
    font-family: monospace, monospace
}

code {
    display: inline-block
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}

q {
    quotes: none
}

q:after, q:before {
    content: "";
    content: none
}

small {
    font-size: 85%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

strong {
    font-weight: 400
}

ol, ul {
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 0;
    font-size: 100%
}

li, ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}

dd {
    margin: 0
}

nav ol, nav ul {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle
}

figure {
    margin: 0
}

form {
    margin: 0
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

label {
    cursor: pointer
}

legend {
    border: 0;
    padding: 0
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline
}

button, input {
    line-height: normal
}

button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    -webkit-appearance: button
}

input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical
}

input:invalid, textarea:invalid {
    background-color: #f0dddd
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td {
    vertical-align: top
}
